@import url('assets/styles/fonts.css');
@import url('assets/styles/card-styles.css');
@import url('assets/styles/auth-styles.css');
@import url('assets/styles/cover-styles.css');
@import url('assets/styles/exams-styles.css');
@import url('assets/styles/middle-styles.css');
@import url('assets/styles/navbar-styles.css');
@import url('assets/styles/bottom-styles.css');
@import url('assets/styles/footer-styles.css');
@import url('assets/styles/subpage-styles.css');
@import url('assets/styles/profile-styles.css');
@import url('assets/styles/courses-styles.css');
@import url('assets/styles/regular-styles.css');
@import url('assets/styles/privacy-styles.css');
@import url('assets/styles/contact-styles.css');
@import url('assets/styles/carousel-styles.css');
@import url('assets/styles/workshops-styles.css');

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
  border-radius: 10px;
}

::-webkit-scrollbar
{
	background-color: #F5F5F5;
	width: 10px;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
	background-color: #D3112B;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif; /* Usa Raleway */
  -moz-osx-font-smoothing: grayscale;
  background-color: #07B8DC;
  overflow-x: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

code {
  font-family: 'Raleway', monospace;
}
