.bottom-section {
    background-image: url('assets/media/vectors/groove-section.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #8D109C;
    background-size: cover;
    height: 60vh;
    width: 100%;
}

.info-container {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  gap: 20px;
}

.info-container img {
  width: 100px;
  height: 100px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.info-container h3 h5 {
  color: #194866;
  margin: 0;
}

.info-container h5 {
  color: #194866;
  margin: 0;
}